{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <body>

      <h2>Family Events</h2>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>

                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.start_at }}</td>
                        <td>{{ event.end_at }}</td>
                        <td><button type="submit" class="btn btn-success align-items-center"><svg class="bi bi-calendar" width="16" height="16" ><use xlink:href="#calendar3"></use></svg> <span class="m1-1">Button</span> </button></td>
                        <td><button type="button" class="btn btn-primary align-items-center"><svg class="bi bi-calendar" width="16" height="16" ><use xlink:href="#calendar3"></use></svg> Primary</button></td>

                    </tr>                    {% endfor %}
                </tbody>
            </table>
      </div>
      <h2>Family Tasks</h2>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Event</th>
                        <th>Crew</th>

                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.event }}</td>
                        <td>{{ task.user }}</td>
                        <td><button type="submit" class="btn btn-success align-items-center"><svg class="bi bi-calendar" width="16" height="16" ><use xlink:href="#calendar3"></use></svg> <span class="m1-1">Button</span> </button></td>
                        <td><button type="button" class="btn btn-primary align-items-center"><svg class="bi bi-calendar" width="16" height="16" ><use xlink:href="#calendar3"></use></svg> Primary</button></td>

                    </tr>                    {% endfor %}
                </tbody>
            </table>
      </div>

    </main>







{% endblock %}